<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  >
        <img src="assets/images/favicon0.png" >
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="notifications" color="light" [routerLink]=""></ion-icon>
      <span class="notif">4</span>
      <ion-menu-button color="light" menu="client"></ion-menu-button>
    </ion-buttons>
    <ion-title>Xdrink</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<<<<<<< HEAD
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Laisser pour actualiser"
      refreshingSpinner="circles"
      refreshingText="Actualisation...">
    </ion-refresher-content>
  </ion-refresher>
=======
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd

  <div *ngIf="!en_livraison">
    <ion-slides  [options]="sliderPub">
      <ion-slide class="card">
        <img src="https://picsum.photos/200" alt="" srcset="">
      </ion-slide>
      <ion-slide class="card">
        <img src="https://picsum.photos/200" alt="" srcset="">
      </ion-slide>
      <ion-slide class="card">
        <img src="https://picsum.photos/200" alt="" srcset="">
      </ion-slide>
    </ion-slides>
  </div>

  

  <div *ngIf="en_livraison" class="container">
    <div class="head">
      <h4>Commande # {{numero_cmd}}
        <span><br><br> Code</span>
      </h4>
       <span class="code">{{codeSecret}}</span> 
    </div>
    <div class="detail">
      <ion-list>
<<<<<<< HEAD
<<<<<<< HEAD
        <ion-item>
          <ion-label class="grey"><ion-icon name="time"></ion-icon>Horaire :</ion-label>
          <ion-label slot="end" class="black"> {{date_heure}}, <br></ion-label>
        </ion-item>
=======
        <!-- <ion-item>
          <ion-label class="grey"><ion-icon name="time"></ion-icon>Horaire :</ion-label>
          <ion-label slot="end" class="black"> {{date_heure}}, <br> 15H00</ion-label>
        </ion-item> -->
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
=======
        <!-- <ion-item>
          <ion-label class="grey"><ion-icon name="time"></ion-icon>Horaire :</ion-label>
          <ion-label slot="end" class="black"> {{date_heure}}, <br> 15H00</ion-label>
        </ion-item> -->
>>>>>>> 3b82dec (qr code)
        <ion-item>
          <ion-label slot="start">
            <p class="grey"><ion-icon name="map-outline"></ion-icon>Adresse vendeur :</p>
            <p class="black">{{localisation_detail1}},<br> {{localisation_detail2}}</p>
          </ion-label>
          <ion-label slot="end">
<<<<<<< HEAD
<<<<<<< HEAD
            <ion-icon name="locate"></ion-icon>
            <ion-icon name="call">
              <a href="tel:+22996610082"></a>
            </ion-icon>
=======
            <!-- <ion-icon name="locate"></ion-icon> -->
            <ion-icon (click)="callVendeur()" name="call"></ion-icon>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
=======
            <!-- <ion-icon name="locate"></ion-icon> -->
            <ion-icon (click)="callVendeur()" name="call"></ion-icon>
>>>>>>> 3b82dec (qr code)
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label slot="start">
            <p class="grey"><ion-icon name="pin"></ion-icon>Lieu de livraison :</p>
            <p class="black">{{detail1_client}},<br> {{detail2_client}}</p>
          </ion-label>
          <ion-label slot="end">
<<<<<<< HEAD
<<<<<<< HEAD
            <ion-icon name="locate"></ion-icon>
            <ion-icon (click) = 'call()' class="call" name="call"></ion-icon>
=======
            <!-- <ion-icon name="locate"></ion-icon> -->
            <ion-icon (click)="callAcheteur()" class="call" name="call"></ion-icon>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
=======
            <!-- <ion-icon name="locate"></ion-icon> -->
            <ion-icon (click)="callAcheteur()" class="call" name="call"></ion-icon>
>>>>>>> 3b82dec (qr code)
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button (click)="accepterCommande()" >Accepter la livraison</ion-button>
    </div>

  </div>
</ion-content>
