
<ion-content [fullscreen]="true">
  <div class="background">
    <div>
      <ion-buttons slot="start">
<<<<<<< HEAD
        <ion-back-button defaultHref=""></ion-back-button>
=======
        <ion-back-button defaultHref="home"></ion-back-button>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
      </ion-buttons>
      <ion-title>
        <h5>Creation de compte vendeur</h5>
        <h3>Choisir un type de compte</h3>
      </ion-title>
    </div>
  </div>
  
  <div id="container">
    <ion-progress-bar  value="0.6"></ion-progress-bar>
    <ion-list>
      <ion-item lines="none" routerLink="/depot-marchand">
        <ion-img src="../assets/images/bar.png"></ion-img>
        <ion-label slot="end">
          Dépot marchand
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-label>
      </ion-item>
      <ion-item lines="none" routerLink="/distributeur-agree">
        <ion-img src="../assets/images/hotel.png"></ion-img>
        <ion-label slot="end">
          Distributeur agréé
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-label>
      </ion-item>
      <!-- <ion-item lines="none" routerLink="/vendeur-type">
        <ion-img src="../assets/images/particulier.png"></ion-img>
        <ion-label slot="end">
          Livreur
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-label>
      </ion-item> -->
    </ion-list>
  </div>

  <div class="footer">
    <p>
      Vous avez déjà un compte ?
      <span routerLink="/connexion-client">SE CONNECTER</span>
    </p>
  </div>
</ion-content>




