<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
<<<<<<< HEAD
      <ion-back-button defaultHref=""></ion-back-button>
=======
      <ion-back-button ></ion-back-button>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="notifications" routerLink="/notifications-client"></ion-icon>
      <ion-menu-button menu="client"></ion-menu-button>
    </ion-buttons>

    <ion-title><strong>Vente</strong></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="content">
    <div class="bravo">
      <strong >
        Bravo
      </strong>

      <p>
        Vous êtes à destination
      </p>

      <div class="trajet">
        <div class="line">
          <span class="round green"></span>
          <span class="text">Bravo vous etes a destination</span>
        </div>
        <br>
        <!-- <div class="v-dashed-line"></div> -->
        <div class="line">
          <span class="round red"></span>
          <span class="text">Bravo vous etes a destination</span>
        </div>
      </div>
    </div>

    <div class="contenue">
      <div class="title" >
          <strong>Contenue commande</strong></div>
      <div class="commande">
        <div *ngFor="let item of [1,2,3]" class="cart-element">
          <div class="left">
            <img style="height: 50px; width: 50px;" src="https://picsum.photos/200" alt="" srcset="">
            <div class="product-name">
              <span>Nom du produit</span>
              <span class="buttons" >
                5 unité
              </span>
            </div>
          </div>
          <div class="right">
            <strong class="amount" >500</strong>
          </div>
        </div>

      </div>

    </div>

    <div style="text-align: center; margin-top: 50px;" >
      <ion-button class="outline-btn gradient-btn border-rad">Servir</ion-button>

    </div>
  </div>
</ion-content>
