<ion-header>
  <ion-toolbar color="secondary">
<<<<<<< HEAD
    <ion-buttons slot="start">
      <ion-button>
        <img src="assets/images/favicon0.png" >
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Demande de vente</ion-title>
=======
    <ion-title color="light" ><strong>Demande de vente</strong></ion-title>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    <ion-buttons slot="end">
      <ion-icon name="notifications" color="light" ></ion-icon>
      <ion-menu-button color="light" menu="client"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<<<<<<< HEAD
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
=======
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
  <div class="content">
    <div *ngIf="!commande" class="empty">
      <div class="empty-order">
        <ion-icon name="basket"></ion-icon>
        <span><strong>Vous n'avez aucune commande en attente</strong></span>
      </div>
  
      <div class="empty-order-btns">
        <ion-button [routerLink]="['/code-de-vente']" routerLinkActive="router-link-active"  >VENDRE</ion-button>
        <ion-button [routerLink]="['/vendeur-tabs/catalogue']" routerLinkActive="router-link-active"  class="clear" >ACHETER</ion-button>
      </div>
    </div>

    <div *ngIf="commande"   class="no-empty">
      <div class="btns">
        <ion-button [routerLink]="['/vendeur-tabs/catalogue']" routerLinkActive="router-link-active" >ACHETER</ion-button>
        <ion-button [routerLink]="['/code-de-vente']" routerLinkActive="router-link-active">VENDRE</ion-button>
      </div>
  
      <div class="demande">
        <div class="header">
          <strong class="title">Demandes de vente</strong>
        </div>
  
        <div style="padding: 5px;" >
          <div *ngFor="let item of commandes" class="commande">
            <div class="left">
              <strong>1 commande</strong>
              <span>il y a 12 min</span>
            </div>
            <div class="right">
              <strong (click) = "option_commande_change (item)" >{{option_commande}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>
