<ion-header class="ion-no-border">
  <ion-toolbar>
<<<<<<< HEAD
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
=======
   <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
   </ion-buttons>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    <ion-title>Demandes de ventes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!--<div class="top-buttons-div">-->
  <ion-buttons class="top-buttons-div">
   <ion-button>ACHETER</ion-button>
   <ion-button>VENDRE</ion-button>
  </ion-buttons>
 <!--</div>-->
 <div>
  <ion-card>
   <ion-card-header class="card-header">
    <ion-card-title class="ion-text-capitalize">demandes de ventes</ion-card-title>
   </ion-card-header>
   <ion-card-content class="ion-card-content ion-no-padding">
    <ion-item class="cmd-card-item">
     <div class="card-cmd-status">
      <ion-label> X commande </ion-label>
      <small class="text-muted">Il y a 5 min</small>
     </div>
      <a class="cmd-button">accepter</a>
    </ion-item>

    <ion-item class="cmd-card-item">
     <div class="card-cmd-status">
      <ion-label> X commande </ion-label>
      <small class="text-muted">Il y a 5 min</small>
     </div>
     <a class="cmd-button">accepter</a>
    </ion-item>
   </ion-card-content>
  </ion-card>
 </div>
</ion-content>
