.cart-element{
    box-shadow: 0px 4px 4px #00000029;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .left{
        display: flex;
        align-items: center;
        img{
            width: 100px;
            height: 100px;
            margin-right: 20px;
        }
        .product-name{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #6B6B6B;
            .buttons{
                display: flex;
                align-items: center;
            }
            ion-badge{
                border: 2px solid var(--ion-color-secondary);
                background-color: rgba(151, 75, 75, 0);
                box-shadow: 0px 1px 4px #00000029;
                border-radius: 6px;
                opacity: 1;
                margin: 5px;
                height: 25px;
                width: 25px;
                color: var(--ion-color-secondary);
            }
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .amount{
            background: #E6A930 0% 0% no-repeat padding-box;
            border-radius: 0px 10px;
            padding: 9px;
            color: white;
            margin-bottom: 10px;
        }
        .delete{
            font-size: 20px;
        }
    }
}
.panier{
    margin: 0 0 15% 0;
    transform: translateX(40%);
<<<<<<< HEAD
    color: white;
=======
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(5%);
<<<<<<< HEAD
    text-transform: capitalize;
    .total-left{
        .total-amount{
            font-size: 20px;
=======
    .total-left{
        .total-amount{
            font-size: 25px;
            
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
            color: var(--ion-color-secondary);
        }
    }

    ion-button{
        height: 50px;
        --border-radius: 12px;
        width: 100px;
    }

}