<ion-header>
  <ion-toolbar>
<<<<<<< HEAD
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
=======
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    <ion-title color="light" ><strong>Mon panier</strong></ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications" color="light" [routerLink]="['/notifications-client']"></ion-icon>
      <ion-menu-button color="light" menu="client"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div *ngFor="let item of cart" class="cart-element">
      <div class="left">
        <img [src]="item.img" alt="" srcset="">
        <div class="product-name">
          <span>{{item.name}}</span>
          <span class="buttons" >
            <ion-badge (click)="decrease(item)" >-</ion-badge>
            <strong *ngIf="inputQty==false" (click)="inputQty=true" > {{item.qty? item.qty:1}} </strong>
            <ion-input type="number" (input)="inputChange($event.target.value, item)" [(ngModel)]="item.qty" *ngIf="inputQty==true" > </ion-input>

            <ion-badge (click)="increase(item)" >+</ion-badge>
          </span>

        </div>
      </div>
      <div class="right">
        <strong class="amount" >{{item.amount}}</strong>
        <span (click)="delete(item)" class="delete"><ion-icon name="trash" ></ion-icon></span>
      </div>
    </div>
<<<<<<< HEAD
    <br>
    <ion-button class="panier" (click)="validerQuantite3()">Valider le panier</ion-button>
    <div class="total">
      <div class="total-left">
        <strong class="total">Total :<strong class="total-amount" >{{total}} Fr</strong></strong>
=======
    
    <ion-button class="panier" (click)="validerQuantite4()">valider le panier</ion-button>
    <div class="total">
      <div class="total-left">
        <strong class="total">Total <strong class="total-amount" >{{total}} Fr</strong></strong>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
      </div>
      <ion-button (click) = "payer ()" *ngIf="btnPayer"   class="outline-btn gradient-btn">Payer</ion-button>
    </div>
  </div>

</ion-content>
