<<<<<<< HEAD
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light" ><strong>Moyen de payement</strong></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button name="client"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
=======


<ion-content>
  <div class="content" style="padding: 20px;" >
    <strong class="title" >Moyen de paiement</strong>
  </div>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd

  <div class="list">
    <ion-item (click)="valider('moov-money')" lines="none">
      <ion-title  position="floating">Moov money</ion-title>
    </ion-item>
    <ion-item  (click)="valider('mtn-money')" lines="none">
      <ion-title  position="floating">Mobile money</ion-title>
    </ion-item>
    <ion-item (click)="valider('visa')" lines="none">
      <ion-title  position="floating">Visa</ion-title>
    </ion-item>
  </div>
  <br>
  <div class="footer-btn" >
    <ion-button class="outline-btn gradient-btn" expand="block" (click)="valider('')" >Valider</ion-button>
  </div>
</ion-content>
