<ion-header>
  <ion-toolbar color="secondary">
<<<<<<< HEAD
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
=======
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    <ion-title color="light" ><strong>Mon panier stock</strong></ion-title>
    <ion-buttons slot="end">
      <ion-button  >
        <ion-icon name="notifications" color="light" ></ion-icon>
      </ion-button>
      <ion-button  >
        <ion-icon name="ellipsis-vertical-outline" color="light" ></ion-icon>      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<<<<<<< HEAD
  <div class="content">
    <div *ngFor="let item of produit_panier" class="cart-element">
=======
  <div *ngFor="let item of produit_panier" class="content">
    <div  class="cart-element">
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
      <div class="left">
        <img [src]="item.img" alt="" srcset="">
        <div class="product-name">
          <span> {{item.name}} </span>
<<<<<<< HEAD
<<<<<<< HEAD
          <span class="buttons" (click)="openModal(item)" >
            <ion-badge>-</ion-badge>
            <strong> {{item.qty}} </strong>
            <ion-badge>+</ion-badge>
          </span>
        </div>
      </div>
      <div class="right">
        <strong class="amount" >{{item.amount}}</strong>
        <span (click)="delete(item)" class="delete"><ion-icon name="trash" ></ion-icon></span>
      </div>
    </div>
    <br><br>
    <div class="total">
      
      <ion-button (click) = "actualiser()" style="width: 80%;" class="outline-btn gradient-btn">Mettre à jour stock</ion-button>
=======
=======
>>>>>>> 3b82dec (qr code)
          <span *ngIf="option !== 'prix'" (click)="inputQty=true" class="buttons" > {{visual}} :
            <!-- <ion-badge (click)="decrease(item)">-</ion-badge> -->
            <strong *ngIf="inputQty==false"  > 0 </strong>
            <ion-input type="number"  [(ngModel)]="item.qtymod" *ngIf="inputQty==true" > </ion-input>

            <!-- <ion-badge (click)="increase(item)">+</ion-badge> -->
          </span>
        </div>
      </div>
      <div *ngIf="option == 'prix'" class="right">
        <strong *ngIf="inputAmount==false" (click)="inputAmount=true" class="amount" >{{item.amount}}</strong>
        <ion-input type="number"  [(ngModel)]="item.amountmod" *ngIf="inputAmount==true" > </ion-input>

        <span (click)="delete(item)" class="delete"><ion-icon name="trash" ></ion-icon></span>
      </div>
    </div>
    
    <div class="total">
      
      <ion-button (click) = "actualiser(item)" style="width: 50%;" class="outline-btn gradient-btn">Mettre à jour stock</ion-button>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    </div>
  </div>

</ion-content>
