<ion-content>
  <div class="background">
      <div>
        <ion-buttons slot="start">
<<<<<<< HEAD
          <ion-back-button defaultHref=""></ion-back-button>
=======
          <ion-back-button defaultHref="type-vendeur"></ion-back-button>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
        </ion-buttons>
        <ion-title>
          <h5>Ajout de compte</h5>
          <h3>Vendeur : Dépot marchand</h3>
        </ion-title>
      </div>
    </div>
<div id="container">

<ion-list>
 <ion-item lines="none">
  <ion-label position="stacked" class="ion-no-border">Nom du dépôt marchant </ion-label>
  <ion-input [(ngModel)]="dataDepot.nom_depot" type="text" placeholder="nom du dépôt"></ion-input>
 </ion-item>
 <ion-item lines="none">
  <ion-label position="stacked">Nom du gérant</ion-label>
  <ion-input [(ngModel)]="dataDepot.nom" type="text" placeholder="Nom du gérant"></ion-input>
 </ion-item>
 <ion-item lines="none">
  <ion-label position="stacked">Email du gérant</ion-label>
  <ion-input [(ngModel)]="dataDepot.email" type="email" placeholder="gerant@gmail.com"></ion-input>
 </ion-item>
 <ion-item lines="none">
  <ion-label position="stacked">Numéro tel du gérant</ion-label>
  <ion-input [(ngModel)]="dataDepot.telephone_gerant" type="tel" placeholder="Numéro tel du gérant"></ion-input>
 </ion-item>

 <ion-item lines="none">
  <ion-label position="stacked">IFU <small>Optionnel</small></ion-label>
  <ion-input [(ngModel)]="dataDepot.ifu" type="number" placeholder="00 00 00 00 00 00 00 00"></ion-input>
 </ion-item>
 <ion-item lines="none">
  <ion-label position="stacked">Adresse de livraison</ion-label>
  <ion-button id="btn-localisation" (click) = "presentAlertConfirm()"  expand="block">Geolocaliser son depôt</ion-button>
 </ion-item>
 <br>
 <ion-item>
  <ion-label position="stacked">Mot de passe</ion-label>
<<<<<<< HEAD
  <ion-input [(ngModel)]="dataDepot.password" type="password" placeholder=""></ion-input>
 </ion-item>
 <ion-item lines="none">
  <ion-label position="stacked">Confirmer le mot de passe</ion-label>
  <ion-input [(ngModel)]="dataDepot.password2" type="password" placeholder=""></ion-input>
=======
  <ion-input [(ngModel)]="dataDepot.password" type="password" placeholder="**********"></ion-input>
 </ion-item>
 <ion-item lines="none">
  <ion-label position="stacked">Confirmer le mot de passe</ion-label>
  <ion-input [(ngModel)]="dataDepot.password2" type="password" placeholder="**********"></ion-input>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
 </ion-item>
</ion-list>
<ion-button class="outline-btn gradient-btn" expand="block" (click) = "soumettre()">Créer le compte</ion-button>
<span> {{errorMessage}} </span>
</div>

</ion-content>


