<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
<<<<<<< HEAD
      <ion-back-button defaultHref=""></ion-back-button>
=======
      <ion-back-button defaultHref="vendeur-tabs/catalogue"></ion-back-button>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    </ion-buttons>
    <ion-title>Code de commande</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="client"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let item of qrcode_liste">
    <span (click)="voirQrCode(item)"> cmd: {{item}} </span>
    <span>{{message}}</span>
  </div>

 
</ion-content>
