<ion-header>
  <ion-toolbar>
<<<<<<< HEAD
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
=======
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    <ion-title>Mon adresse</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications-outline" routerLink="/notifications-vendeur"></ion-icon>
      <ion-menu-button menu="client"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 3b82dec (qr code)
  <!-- <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz7T3Ms81BUuEY0gETp4rrpEsRY1x3T74&callback=initMap">
</script> -->

<<<<<<< HEAD
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
=======
>>>>>>> 3b82dec (qr code)
  <div id="map_canvas"></div>

</ion-content>
