<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
<<<<<<< HEAD
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>>
=======
      <ion-back-button ></ion-back-button>
    </ion-buttons>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    <ion-buttons slot="end">
      <ion-icon name="notifications" routerLink="/notifications-vendeur"></ion-icon>
      <ion-menu-button menu="client"></ion-menu-button>
    </ion-buttons>

    <ion-title><strong>Produits à vendre</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <strong class="num-commande" >Commande N {{numero_commande}}</strong>
    <br>
    <div *ngFor="let item of produits" class="cart-element">
      <div class="left">
       <!-- <img src="https://picsum.photos/200" alt="" srcset=""> -->
        <div class="product-name">
          <strong> {{item.produit}} </strong>
          <span class="buttons" >
            <strong>  {{item.qty}} Unités</strong>
          </span>
        </div>
      </div>
      <div class="right">
        <strong class="amount" > {{item.prix}} </strong>
      </div>
    </div>
    <br>
    <div style="border:1px dashed rgb(139, 139, 139); border-bottom: 1px solid dashed; height: 2px; width: 100%; margin-top: 5px; margin-bottom: 5px;" ></div>
    <br>
    <div class="total">
      <div class="total-left">
<<<<<<< HEAD
        <strong class="total">Total <strong class="total-amount" > {{total}} Fr</strong></strong>
        <strong class="total">Livreur <strong class="livreur" > {{prenom_livreur}} {{nom_livreur}}</strong></strong>
=======
        <strong class="total">Total: <strong class="total-amount" > {{total}} Fr</strong></strong>
        <br>
        <strong class="total">Livreur: <strong class="livreur" > {{prenom_livreur}} {{nom_livreur}}</strong></strong>
        <br>
        <strong class="total">Numero doc: <strong class="livreur" > {{num_carte}} </strong></strong>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd

      </div>
      <ion-button (click) = "livrer()" class="outline-btn gradient-btn">LIVRER</ion-button>
    </div>
  </div>

</ion-content>
