<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
<<<<<<< HEAD
      <ion-back-button defaultHref=""></ion-back-button>
=======
      <ion-back-button></ion-back-button>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="client"></ion-menu-button>
    </ion-buttons>

    <ion-title>Mes notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="notification">
    <ion-list>
      <ion-item lines="none">
        <ion-label slot="start">
          <ion-avatar>
            <img src="../assets/images/avatar@2x.png">
          </ion-avatar>
        </ion-label>
        <ion-label>
          <p>Votre livreur est déjà là.</p>
          <span>1er aout 15:00</span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label slot="start">
          <ion-avatar>
            <img src="../assets/images/avatar@2x.png">
          </ion-avatar>
        </ion-label>
        <ion-label>
          <p>Votre commande vient d'être lancé. Votre livreur vous appelle..</p>
          <span>1er aout 15:00</span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label slot="start">
          <ion-avatar>
            <img src="../assets/images/avatar@2x.png">
          </ion-avatar>
        </ion-label>
        <ion-label>
          <p>Votre livreur est déjà là.</p>
          <span>1er aout 15:00</span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label slot="start">
          <ion-avatar>
            <img src="../assets/images/avatar@2x.png">
          </ion-avatar>
        </ion-label>
        <ion-label>
          <p>Votre commande vient d'être lancé. Votre livreur vous appelle.</p>
          <span>1er aout 15:00</span>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
