ion-content{
  text-align: center;
  position: absolute;
  top: 20%;
}
ion-content ion-icon{
  font-size: 70px;
  color: #e85e37;
}
p{
  color: grey;
  font-size: 20px;
}
ion-button{
  width: 80%;
  text-align: center;
  text-transform: capitalize;
  height: 40px;
  font-size: 18px;
}
.orange{
  --background: linear-gradient(orange,#e85e37);
  color: #ffff;
}
.white{
  color: #e85e37;
  --border-color: #e85e37;
  --border-width: 3px;
  --background: #ffff;
}