<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="notifications" color="light" [routerLink]="['/notifications']"></ion-icon>
      <ion-menu-button color="light" menu="client"></ion-menu-button>
    </ion-buttons>
    <ion-title>Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-icon name="cart"></ion-icon>
    <p>Confirmez avoir pris toute la commande</p>
    <br>
    <ion-button class="orange" routerLink="/verification">Vérifier</ion-button><br>
    <ion-button class="white" (click)="presentAlert()" routerLink="/livreur-tabs/geolocalisation">Oui</ion-button>
  
  </div>
</ion-content>
