<ion-header>
  <ion-toolbar color="secondary">
<<<<<<< HEAD
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
=======
    <ion-buttons slot="start" >
      <ion-back-button></ion-back-button>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    </ion-buttons>
    <ion-title color="light" ><strong>Code de vente</strong></ion-title>
    <ion-buttons slot="end">
      <ion-button  >
        <ion-icon name="notifications" color="light" ></ion-icon>
      </ion-button>
      <ion-button  >
        <ion-icon name="ellipsis-vertical-outline" color="light" ></ion-icon>      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="validation">
    <div id="container">
      <p>Veuillez entrer le code de la commande </p>
<<<<<<< HEAD
      <form>
      <div class="cases">
<<<<<<< HEAD
        <ion-input [(ngModel)]="code1" type="text" #txt1 maxlength="1" (keyup)="move(txt1, txt2)"></ion-input>
        <ion-input [(ngModel)]="code2" type="text" #txt2 maxlength="1"></ion-input>
        <ion-input [(ngModel)]="code3" type="text" maxlength = "1"></ion-input>
        <ion-input [(ngModel)]="code4" type="text" maxlength = "1"></ion-input>
        <ion-input [(ngModel)]="code5" type="text" maxlength = "1"></ion-input>
        <ion-input [(ngModel)]="code6" type="text" maxlength = "1"></ion-input>
      </div>
    </form>
=======
      <div class="cases">
=======
>>>>>>> 3b82dec (qr code)
        <ion-input autofocus="true" [(ngModel)]="code1" type="tel" maxlength = "1"></ion-input>
        <ion-input autofocus="true" [(ngModel)]="code2" type="tel" maxlength = "1"></ion-input>
        <ion-input autofocus="true" [(ngModel)]="code3" type="tel" maxlength = "1"></ion-input>
        <ion-input autofocus="true" [(ngModel)]="code4" type="tel" maxlength = "1"></ion-input>
        <ion-input autofocus="true" [(ngModel)]="code5" type="tel" maxlength = "1"></ion-input>
        <ion-input autofocus="true" [(ngModel)]="code6" type="tel" maxlength = "1"></ion-input>

      </div>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
      <span>{{message}}</span>
      <div class="footer-btn">
        <ion-button (click) = 'Servir()' class="outline-btn gradient-btn">Servir</ion-button>

      </div>
    </div>
  </div>
</ion-content>
