<ion-header>
  <ion-toolbar>
    <ion-title>livreur-affilier-code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <span>{{code_validation}}</span>
 <br>
 <p>veuillez communiquer votre code de validation à votre société de livraison pour valider la creation de votre compte</p>
</ion-content>
