<ion-header>
  <ion-toolbar>
    <ion-title>qrcode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <div class="center">
    <qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
  
    <br>
    <span style="text-align: center;" >
      Merci de laisser le livreur capturer cette commande.
    </span>
  </div>
</ion-content>
