ion-content {
    --ion-background-color: transparent;
}

.frame {
    color: #d5d5d5;
    height: 350px;
    width: 350px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
<<<<<<< HEAD
}
ion-button{
    text-transform: uppercase;
    --background: linear-gradient(orangered, orange);
    --border-radius: 10px;
    margin:  10% 5%;
=======
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
}