
.content{
    padding: 10px;

    .card{
        border-radius: 15px;
        border: 2px solid var(--ion-color-primary-shade);
        height: 170px;
        width: 100%;
        padding: 3px;

        img{
            width: 100%;
            height: auto;
            border-radius: 15px;
        }
    }

    .horizontal-slide{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    ion-slide{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    .little-card{
        border-radius: 10px;
        height: 70px;
        width: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 1px 5px #0000001A;

        ion-icon{
            color: var(--ion-color-secondary);
            font-size: 22px;
        }
        img{
            width: 80%;
            height: 80%;
        }
        
    }
    .little-card-title{
        font-size: 15px;
    }
    }
}

.section-title{
    color: var(--ion-color-secondary);
}

.product-card{
    height: 150px;
    width: 130px;
    border-radius: 15px;
    border: 1px solid rgb(255, 233, 233);
    border-bottom: 2px solid var(--ion-color-secondary);
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    img{
        border-radius: 15px;
        height: 80%;
        width: 100%;
    }
    .product-name{
        color: var(--ion-color-secondary);
        font-size: 14px;

    }
}